@media (min-width: 200px) {
  .shotInfo {
    width: 64%;
    height: 100px;
    position: relative;
    display: inline-flex;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,.16);
  }
  .shotInner {
    padding: 10px;
    width: 100%;
  }
  .shotAction {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(87,87,87,.18);
  }
  .availableleft {
    width: 219px;
    display: flex;
    justify-content: space-between;
  }
  .numbersbtn {
    width: 24px;
    margin: 1px;
  }
  .shotsListContainer {
    display: flex;
    justify-content: space-between;
  }
}
