.footer{
  text-align: center;
/*  padding: 56px 0;*/
  background-size: cover;
  background-color: #fcfcfc !important;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
}

.footer a{
  text-decoration: none;
  font-weight: 700;
}
.ant-modal-content {
  background: black
}
