.headerNotLogged {
  background-color: #fcfcfc !important;
}
.headerLogged {
  border-bottom: 1px solid #ccc;
}

.content {
  width: 100%;
  margin: auto;
  overflow: auto;
  background-color: #fcfcfc !important;
  padding: 0px !important;
}
/*---------------------*/
.appMenu {
  background: #fcfcfc !important;

}
.appMenu > li {
  margin-left: 33.3px;
  font-size: 18px;
  text-align: center;
  height: 60px !important;
}
.appMenuIndent {

  margin-left: -20px !important;
}
.menuBtn {
  width: 60px;
  height: 60px !important;
  border: 1px solid transparent;
  border-radius: 0px !important;
}
/*-----------------*/
.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
