/* Login styles */
/*@import '../../../node_modules/antd/dist/antd.less';*/
.ant-checkbox-input {
}
.loginContainer {
  position: absolute;
  top: 20%;
  left: 36%;
  max-width: 33.3%;
  background-color: white;
  padding: 15px 20px;
}
.loginformHeading {
  text-align: center;

}
.loginForm {
  max-width: 100%;
}

.loginFormBody > input {

}

.loginFormForgot {
  float: right;
}

.loginFormButton {
  width: 100%;
}

.initValues {
}

